@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
}

.soda{
  --right:0px;
  width: 70%;
  aspect-ratio: 10.5/4;
  
  background: url(/Cover.png) 0px var(--right) repeat-y,url(/Can.png);
  background-size: auto 100%;
  background-blend-mode: color-burn;
  ;

  mask-image: url(/Can.png);
  mask-size: auto 100%;

  transition: 1s;
}

.soda:hover{
  --right: -1000px
}